<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>关于本站</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">

    <style>
        .starter-template {
          padding: 3rem 1.5rem;
          text-align: left;
        }
    </style>
</head>

<body>

<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
        </a>
        <a class="py-2 d-none d-md-inline-block active" href="/index">动态演示</a>
        <a class="py-2 d-none d-md-inline-block" href="/advanced">高级演示</a>
        <a class="py-2 d-none d-md-inline-block" href="/algorithm">算法思想</a>
        <a class="py-2 d-none d-md-inline-block" href="#">关于本站</a>
        <span class="navbar-text" style="color: #999">
            详细的Dijkstra算法讲解
        </span>
    </div>
</nav> <!--导航栏结束 -->

<main role="main" class="container">

    <div class="starter-template">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
            <h1 class="bd-title" id="content">关于本站</h1>
            <p class="bd-lead">
                本网站编写者为 山东大学周赢<br>
            </p>

            <div>
                本网站的使用的 JavaScript 函数库:
                <ul>
                    <li> jQuery <a href="https://jquery.com/">https://jquery.com/</a></li>
                    <li> fabric.js <a href="http://fabricjs.com/">http://fabricjs.com/</a></li>
                    <li> FeatherJS <a href="https://feathersjs.com/">https://feathersjs.com/</a></li>
                </ul>
                本网站的使用的 CSS 样式库:
                <ul>
                    <li> Bootstrap <a href="https://getbootstrap.com/">https://getbootstrap.com/</a></li>
                </ul>
                本网站不作商业用途，仅为学生学习一用。
            </div>
        </main>
    </div>

</main><!-- /.container -->
</body>

<script src="../static/js/jquery-3.3.1.js"></script>
<script src="../static/js/bootstrap.js"></script>

</html>