<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/fabric.js"></script>
    <script src="../static/jquery-3.3.1.js"></script>
    <script src="../static/extend-fabric.js"></script>
</head>
<body>
    <canvas id="c" width="600" height="600"></canvas>
</body>

<script>
    var circleCount = 1;
    var lineCount = 0;
    var MAX_INF = Number.MAX_VALUE;

    var matrix = [];
    for(var i = 0; i < 7; i++) {        //一维长度为3
        matrix[i] = [];
        for(var j = 0; j < 7; j++) {    //二维长度为5
            matrix[i][j] = MAX_INF;
        }
    }

    var value = [];
    for(var k = 0; k < 6; k++) {
        value[k] = Math.round(Math.random() * 60)
    }

    matrix[0][1] = value[0];
    matrix[1][2] = value[1];
    matrix[1][5] = value[4];
    matrix[1][6] = value[5];
    matrix[2][3] = value[2];
    matrix[2][4] = value[3];

    function makeCircle(left, top, line1, line2, line3, line4) {
        var c = new fabric.Circle({
            strokeWidth: 5,
            radius: 12,
            fill: '#fff',
            stroke: '#666',
            originX: 'center',
            originY: 'center',
            hasControls: false,
            hasBorders: false
        });

        var t = new fabric.Text(String(circleCount++), {
            fontSize: 14,
            originX: 'center',
            originY: 'center'
        });

        var g = new fabric.Group([c, t], {
            left: left,
            top: top,
            hasControls: false,
            hasBorders: false
            //selectable: false
        });

        g.line1 = line1;
        g.line2 = line2;
        g.line3 = line3;
        g.line4 = line4;
        return g;
    }

    function makeLine(coords) {
        return new fabric.LineArrow(coords, {
            fill: 'red',
            stroke: 'red',
            strokeWidth: 5,
            label: String(value[lineCount++]),
            selectable: false
        });
    }

    $(function () {
        var canvas = this.__canvas = new fabric.Canvas('c', { selection: false });

        fabric.Object.prototype.originX = fabric.Object.prototype.originY = 'center';

        var line = makeLine([ 50, 50, 270, 60 ]),
            line2 = makeLine([ 270, 60, 250, 250 ]),
            line3 = makeLine([ 250, 250, 350, 440]),
            line4 = makeLine([ 250, 250, 80, 440]),
            line5 = makeLine([ 270, 60, 75, 225 ]),
            line6 = makeLine([ 270, 60, 375, 225 ]);

        canvas.add(line, line2, line3, line4, line5, line6);

        var circle = makeCircle(line.get('x1'), line.get('y1'), null, line),
            circle2 = makeCircle(line.get('x2'), line.get('y2'), line, line2, line5, line6),
            circle3 = makeCircle(line2.get('x2'), line2.get('y2'), line2, line3, line4),
            circle4 = makeCircle(line3.get('x2'), line3.get('y2'), line3),
            circle5 = makeCircle(line4.get('x2'), line4.get('y2'), line4),
            circle6 = makeCircle(line5.get('x2'), line5.get('y2'), line5),
            circle7 = makeCircle(line6.get('x2'), line6.get('y2'), line6);

        canvas.add(circle, circle2, circle3, circle4, circle5, circle6, circle7);

        canvas.on('object:moving', function(e) {
            var p = e.target;

            p.line1 && p.line1.set({ 'x2': p.left, 'y2': p.top });
            p.line2 && p.line2.set({ 'x1': p.left, 'y1': p.top });
            p.line3 && p.line3.set({ 'x1': p.left, 'y1': p.top });
            p.line4 && p.line4.set({ 'x1': p.left, 'y1': p.top });

            //changeLine(p);
            canvas.renderAll();
        });

    })
</script>

<script type="text/javascript">

</script>
</html>