<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/fabric.js"></script>
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/extend-fabric.js"></script>
</head>
<body>
    <canvas id="c" width="600" height="500"></canvas>
    <div>
        <table border="1px" id="circle-table">
            <tr>
                <th>顶点</th>
                <th>是否可以到达</th>
                <th>距离</th>
                <th>路径</th>
            </tr>
        </table>
    </div>
</body>

<script src="../static/js/dijkstra.js"></script>

</html>