<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dijkstra</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../static/js/jquery-3.3.1.js"></script>

    <!-- Fabric.js and custom extend -->
    <script src="../static/js/fabric.js"></script>
    <script src="../static/js/extend-fabric.js"></script>

</head>

<body>
    <canvas id="c" width="600" height="500"></canvas>
    <div>
        <table border="1px" id="circle-table">
            <tr>
                <th>顶点</th>
                <th>是否可以到达</th>
                <th>距离</th>
                <th>路径</th>
            </tr>
        </table>
    </div>
</body>

<script src="../static/js/dijkstra-graph.js"></script>

</html>