<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>

<script>
    var arr = [{name: '张三', age: 26},{name: '李四', age: 12},{name: '王五', age: 37}];
    console.log(arr);

    /**
    var jsonArraySort = function (keyName) {

        return function (jsonA, jsonB) {
            var pointA = jsonA[keyName];
            var pointB = jsonB[keyName];

            if (pointA > pointB) return 1;
            else if (pointA < pointB) return -1;
            else return 0;
        }
    };

    arr.sort(jsonArraySort('age'));
    console.log(arr);
    **/
</script>
</html>